@using EPAM.SUMMER.FORUM.ZHELDAK.ViewModels
@model IEnumerable<CommentsOnQuestionModel>

<div class="row">
    <div class="col-md-2 cender">
        <div class="row text-center">
            <small>@ViewBag.Sender.FirstName @ViewBag.Sender.LastName</small>
        </div>
        <img src="@Url.Action("GetPhoto", "User", new {UserId = ViewBag.Sender.Id})" style="width: 130px; border-radius: 15px;" />
    </div>
    <div class="col-md-9 ">
        <h4 class="text-justify question">@ViewBag.Question</h4>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-8 col-md-offset-2" id="comment-container">
        @foreach (var item in Model)
        {
           @Html.Partial("PartialComments", item)
        }
    </div>
</div>
<div class="row">
    @using (Ajax.BeginForm("Create", "Comment", new AjaxOptions { InsertionMode = InsertionMode.InsertAfter,OnSuccess = "cleartext",UpdateTargetId = "comment-container" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="UserId" value=@ViewBag.CurrentUser.Id />
        <input type="hidden" name="QuestionId" value=@ViewBag.QuestionId />
        <textarea class="form-control comment-area" rows="3" id="comment" name="comment"></textarea>
        <input type="submit" class="btn-comment" value="ADD" />
    }
</div>

