@model HandleErrorInfo
@{
    ViewBag.Title = "Error report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Application error info</h3>
<p>
    There was exception type: @Model.Exception.GetType()
</p>
<p>
    This exception occur during execute
    <br/>
    Controller: @Model.ControllerName
    <br/>
    Action: @Model.ActionName
</p>
<div>
    Exception message:
    @{
        var ex = Model.Exception;
        <ul>
            @while (ex != null)
            {
                <li>@ex.Message</li>
                ex = ex.InnerException;
            }
        </ul>
    }
</div>
@if (HttpContext.Current.IsDebuggingEnabled)
{
    <p style="text-align: left;">
        Exception stack trace:<br/>
        @Model.Exception.StackTrace
    </p>
}