@using EPAM.SUMMER.FORUM.ZHELDAK.ViewModels.QuestionModels
@using Ninject.Infrastructure.Language
@model IEnumerable<QuestionForAdminModel>

<div class="col-md-10 col-md-offset-1">
    <p style="color: #428bca;">Delete Question</p>
    <table class="table">
        <tr>
            <th style="width: 14%">
                @Html.DisplayName("Category Name")
            </th>
            <th>
                @Html.DisplayName("Question")
            </th>

            <th style="width: 14%">
                @Html.DisplayName("Date Of Question")
            </th>
            <th>
                Delete
            </th>
        </tr>
        @{
            var group =
                Model.GroupBy(u => u.CategoryName)
                    .Select(grp => new { CategoryName = grp.Key, questions = grp.ToEnumerable() });
            foreach (var item in group)
            {
                var rowspan = item.questions.Count() + 1;
                <tr>
                    <td rowspan=@rowspan>@item.CategoryName</td>

                    @foreach (var question in item.questions)
                    {
                    <tr>
                        <td>@question.Question</td>
                        <td>@question.DateOfQuestion</td>
                        <td>@Ajax.ActionLink("Delete", "Delete", "Question", new { id = question.Id },new AjaxOptions { Confirm = "Are you sure you want to remove this question?", UpdateTargetId = "update-admin"}, new { @class = "text-danger" })</td>
                    </tr>
                    }
                    </tr>
            }
        }
    </table>

</div>