@using EPAM.SUMMER.FORUM.ZHELDAK.ViewModels.ComentsModels
@using Ninject.Infrastructure.Language
@model IEnumerable<CommentForAdminModel>

<div class="col-md-10 col-md-offset-1">
    <p style="color: #428bca;">Delete Comment</p>
    <table class="table">
        <tr>
            <th style="width: 50%">
                @Html.DisplayName("Question")
            </th>
            <th>
                @Html.DisplayName("Comment")
            </th>

            <th style="width: 14%">
                @Html.DisplayName("Date Of comment")
            </th>
            <th>
                Delete
            </th>
        </tr>
        @{
            var group =
                Model.GroupBy(u => u.Question)
                    .Select(grp => new {Question = grp.Key, Comments = grp.ToEnumerable()});
            foreach (var item in group)
            {
                var rowspan = item.Comments.Count() + 1;
                <tr>
                    <td rowspan=@rowspan>@item.Question</td>

                    @foreach (var comment in item.Comments)
                    {
                        <tr>
                            <td>@comment.Comment</td>
                            <td>@comment.DateOfComment</td>
                            <td>@Ajax.ActionLink("Delete", "Delete", "Comment", new {id = comment.Id},new AjaxOptions {UpdateTargetId = "update-admin", Confirm = "Are you sure you want to remove this comment?" }, new {@class = "text-danger"})</td>
                        </tr>
                    }
        
                </tr>
            }
        }
    </table>
</div>
