@using EPAM.SUMMER.FORUM.ZHELDAK.ViewModels
@model CommentsOnQuestionModel

<div class="row commenter">
    <div class="col-md-1">
        <span class="glyphicon comment  @if (Model.IsRight)
                                                    {
                                                        @: glyphicon-thumbs-up
                                                    }"></span>
    </div>
    <div class="col-md-3">
        <div class="row">
            <h6>@Model.FirstName @Model.LastName</h6>
        </div>
        <img class="" src="@Url.Action("GetPhoto", "User", new {Model.UserId})" style="width:130px;  border-radius:15px;" />
    </div>
    <div class="col-md-7 ">
        <div class="textComment">
            @Model.Comment
        </div>
        <div class="row">
            <h6><small class="date">@Model.DateOfComment</small></h6>
        </div>
    </div>
</div>
