@using EPAM.SUMMER.FORUM.ZHELDAK.ViewModels
@model IEnumerable<UserForAdminModel>

@{
    ViewBag.Title = "Index";
}
<div class="col-md-8 col-md-offset-2">
    <p style="color: #428bca;">Edit role of user</p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>Edit</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>

                <td>
                    @Html.ActionLink("Edit", "EditRole", "Admin", new { id = item.UserId }, new { @class = "text-warning" })

                </td>
            </tr>
        }

    </table>
</div>